In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
ls

 Volume in drive C has no label.
 Volume Serial Number is A99A-9A8B

 Directory of C:\Users\Administrator\Untitled Folder

28-12-2016  11:24    <DIR>          .
28-12-2016  11:24    <DIR>          ..
28-12-2016  11:20    <DIR>          .ipynb_checkpoints
28-12-2016  11:24             2,743 DS1.ipynb
28-12-2016  09:54           171,308 movies.dat
28-12-2016  09:54        24,594,131 ratings.dat
27-12-2016  15:08            21,784 Untitled.ipynb
28-12-2016  11:17            41,811 Untitled1.ipynb
28-12-2016  09:54           134,368 users.dat
               6 File(s)     24,966,145 bytes
               3 Dir(s)  88,868,237,312 bytes free

In [14]:
usersDF = pd.read_csv("users.dat",sep="::")

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [15]:
usersDF.head()

   1  F  1.1  10  48067
0  2  M   56  16  70072
1  3  M   25  15  55117
2  4  M   45   7  02460
3  5  M   25  20  55455
4  6  F   50   9  55117

In [16]:
usersDF_mod = pd.read_csv("users.dat",sep="::",names = ['userID','gender','age','occupation','zipcode'])

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [17]:
usersDF_mod.head()

   userID gender  age  occupation zipcode
0       1      F    1          10   48067
1       2      M   56          16   70072
2       3      M   25          15   55117
3       4      M   45           7   02460
4       5      M   25          20   55455

In [18]:
userDF=pd.head('userID','age')

AttributeError: module 'pandas' has no attribute 'head'